header{
    background-color: white;
}
.rol{
    text-align: justify;
    line-height: 2;
}
.habilidades{
    text-align: justify;
}
.separador {
    height: 20px; /* Ajusta la altura según tus necesidades */
  }